src/main/mule/s-gr-docubase-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	
	<flow
		name="get:\searchDocument\(index)\(value):s-gr-docubase-config">
		<ee:transform doc:name="Set Log Configuration"
			doc:id="2d3dd659-a39f-4b62-8178-9e857ec9a50c">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Search Document - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory"><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel"><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow"
			doc:id="5de1d8e6-d137-48ee-ba5c-a9ecfe3f6df8"
			name="mule-common-logger-subflow" />
		<set-payload
			value="#[output application/json
&#10;---
&#10;{
&#10;grcRequest : 'EQU(' ++ attributes.uriParams.index ++ ',&quot;' ++ attributes.uriParams.value ++ '&quot;)'
&#10;}]"
			doc:name="GRC Request" doc:id="b80ad5d2-7ad7-4b5c-8cf8-293a1a98eb31" />
		<http:request method="GET"
			doc:name="Get Document from Docubase"
			doc:id="89f133a9-5e03-4f18-858e-ebe063eb4c63"
			config-ref="http-request-config-docubase"
			path="#['${config.docubase.endpoint.getDocument}']">
			<http:query-params><![CDATA[#[payload]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Set Log Configuration"
			doc:id="6f05731d-2ee1-48a1-8511-ba64fe2ba21a">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Search document - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory"><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel"><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow"
			doc:id="fc1099c1-38ba-46d9-8551-483d05618329"
			name="mule-common-logger-subflow" />
	</flow>
	<flow name="patch:\base\(baseId)\case\(id):application\json:s-gr-docubase-config" doc:id="8216e32d-8ed4-4d2e-b531-a6d4a354b31d" >
		<ee:transform doc:name="Set Log Configuration" doc:id="50199d25-980e-4abb-920a-6b987fa1c92d" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Update Document - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="021f2feb-b8b9-4e2e-aed1-4dd924ab0167" name="mule-common-logger-subflow" />
		<http:request method="PATCH" doc:name="Update Document in Docubase" doc:id="9c414705-736b-45ae-b2a9-677efb45442a" config-ref="http-request-config-docubase" path="#['/basemanager/domain/1/base/' ++ attributes.uriParams.baseId ++ '/document/' ++ attributes.uriParams.id ++ '/tag']" >
			<http:headers ><![CDATA[#[output application/json
---
{
	"X-db-connectAs" : attributes.headers.'X-db-connectAs'	
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set Log Configuration" doc:id="6615267a-748f-40f8-bae5-e4b0e1199847" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Update Document - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="145711f1-af8f-4710-b88d-631cf0eed070" name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\getTree:s-gr-docubase-config" doc:id="93514568-3ddf-4f8f-819b-ba3009f97e81" >
		<ee:transform doc:name="Set Log Configuration" doc:id="6743b45c-ae78-407a-828e-5262292b10aa" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Get Tree - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="61a7fd35-9e94-4fc5-ad95-966a2a45c512" name="mule-common-logger-subflow" />
		<ee:transform doc:name="SOAP Body" doc:id="ff745c51-2488-4b76-9c49-f50aadff1ef0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write( (readUrl("classpath://getGEDIDInRheaFormEncryptedURLBody", "text/plain")) replace "VariableX" 
with attributes.queryParams.'category', "text/plain") replace "VariableY" 
with attributes.queryParams.'value' replace "variableUsername" 
with '${config.docubase.username}' replace "variablePassword" 
with '${config.docubase.password}']]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<http:request method="POST" doc:name="Get Tree from Docubase" doc:id="8a5b00df-8b5a-4536-be86-4a2d6a7527b3" config-ref="Soap-WSRheaweb-config" path="#['${config.docubase.endpoint.getTree}']" responseTimeout="999999999"/>
		<logger level="INFO" doc:name="Logger" doc:id="c938f393-0f71-4e1b-88f9-ee654187b61a" message="#[payload]" />
		<ee:transform doc:name="get raw" doc:id="dc79eb7d-6abe-49d6-88d6-a389b17c4e1e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/xml
---

read(payload.^raw, "application/xml")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="to Json" doc:id="f4a770cb-f30d-4637-9d5e-5867e3546bfa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.Envelope.Body.getGEDIDInRheaFormEncryptedURLResponse.url]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set Log Configuration" doc:id="43b530aa-816e-4c89-9c6f-d019a7fbb408" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Get Tree - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="38c8a60e-e725-46e3-95b6-a5466bbc14f6" name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\list:s-gr-docubase-config" doc:id="2dd3a1cd-1759-4ec2-a757-0c01a89a4ca2" >
		<ee:transform doc:name="Set Log Configuration" doc:id="27406f0f-a50f-4996-961d-b1cc908e61ef" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - List files SFTP - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="e3efb57d-5604-43d9-8777-8c3478268394" name="mule-common-logger-subflow" />
		<sftp:list doc:name="List" doc:id="59a78d60-fe35-4f1f-99f8-452ad37d86a7" config-ref="SFTP_Config" directoryPath="Tessi_Recette"/>
<!-- 		<file:list doc:name="List" doc:id="b04fffe7-b288-44c5-8a5b-a1fbb860a7f7" directoryPath="C:\Users\charles.habchy.EITECH\Desktop\tmp"/> -->
		<ee:transform doc:name="List Files" doc:id="bb44a346-76f6-4611-8df7-bc3bad7f3334" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (item,index) -> {
 	fileName: item.typedAttributes.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d6b20a96-29e5-4bc1-bcd0-44888a6a9374" message="#[payload]"/>
		<ee:transform doc:name="Set Log Configuration" doc:id="fd7af66a-b4f8-4b99-8e40-714416fda9e8" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - List files SFTP - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="e0394c10-3062-47de-b6b0-13399d370c05" name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\read:s-gr-docubase-config">
		<ee:transform doc:name="Set Log Configuration" doc:id="7e830993-d8c9-4fd6-9d4a-ee6ee6007804" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Read file SFTP - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="1e957c81-4d57-4538-918b-d83b2cbdd972" name="mule-common-logger-subflow" />
		<sftp:read doc:name="Read" doc:id="87e3103b-9a5b-4157-a3a7-0ccf80c83ecd" config-ref="SFTP_Config" path="#['Tessi_Recette\\' ++ attributes.queryParams.fileName]" outputMimeType='application/csv; header=true; lineseparator=";\\n"; separator=";"' outputEncoding='#["Cp1252"]'/>
<!-- 		<file:read doc:name="Read" doc:id="1b572a9c-52bd-41a6-abba-23b1d42c2d42" path="#['C:\\Users\\charles.habchy.EITECH\\Desktop\\tmp\\' ++ attributes.queryParams.fileName]"/> -->
		<ee:transform doc:name="Set Log Configuration" doc:id="5dd670da-4b30-4e38-b67a-ced86b66906a" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Read file SFTP - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="44cd4d6c-bebd-49a9-b8bb-56835bd8bc70" name="mule-common-logger-subflow" />
    </flow>
    <flow name="get:\move:s-gr-docubase-config">
		<ee:transform doc:name="Set Log Configuration" doc:id="1d8f59a2-89e6-44d9-8512-41c527924f40" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Move file SFTP - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="4de2c6d2-83a0-42a5-bd64-4e161bff543f" name="mule-common-logger-subflow" />
<!-- 		<file:move doc:name="Move" doc:id="a1e6cd4f-c42a-439e-97ea-e5e73c56158a" sourcePath="#['C:\\Users\\charles.habchy.EITECH\\Desktop\\tmp\\' ++ attributes.queryParams.fileName]" targetPath="C:\Users\charles.habchy.EITECH\Desktop\archive"/> -->
		<sftp:move doc:name="Move" doc:id="141bca20-3715-42ba-951b-97116db792df" config-ref="SFTP_Config" sourcePath="#['Tessi_Recette\\' ++ payload]" targetPath="#['Archive']"/>
		<ee:transform doc:name="Set Log Configuration" doc:id="15739847-41dc-4273-8132-5da845c7799b" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="logMessage" ><![CDATA[%dw 2.0
output application/java
---
'System - Docubase - Move file SFTP - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory" ><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel" ><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow" doc:id="56f87093-54e2-4dd7-8eac-9502578e7e00" name="mule-common-logger-subflow" />
    </flow>
</mule>
